@{
    ViewData["Title"] = "Chart Page";
    ushort i = 0;
}

<div class="text-center">
    <svg id="chart" class="bg-black w-100">
        <g stroke-width="1">
            @i = 0;
            @foreach (var candlestick in @Model.GetRollingWindow())
            {
                <polygon points='@candlestick.GetPolyPoints(Model.CandlestickInfo, i)' fill='@candlestick.GetCandleColor()' />
                i++;
            }
        </g>
    </svg>
</div>
<script type="text/javascript">
    document.onreadystatechange = () => {
        if (document.readyState === 'complete'){
            
        }
    }
</script>